* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
  }

  .header {
    padding: 60px;
    text-align: center;
    background: #0D7AB2;
    color: #FDBB2F;
    font-size: 40px;
  }
  /* FORM STYLES */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
  }
  .header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  .wrapper {
    height: 100vh;
      width: 100%;
    background: rgb(117,84,160);
    background: linear-gradient(90deg, rgba(117,84,160,1) 7%, rgba(117,84,160,1) 17%, rgba(106,95,168,1) 29%, rgba(99,103,174,1) 44%, rgba(87,116,184,1) 66%, rgba(70,135,198,1) 83%, rgba(44,163,219,1) 96%, rgba(22,188,237,1) 100%, rgba(0,212,255,1) 100%);  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input {
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
    margin-bottom: 25px;
  }
  
  .form {
    width: 400px;
  }
  
  .title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    width: 100%;
    font-size: 2.3em;;
  }
  
  .button1 {
    border-radius: 4px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px;
    width: 10px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 3px;
    width: 5%;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span {
    padding-right: 25px;
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .error {
    color: white;
    text-align: center;
    margin-top: 20px;
  }